pip install flask
pip install gunicorn
pip install fastapi
pip install uvicorn
pip install gunicorn
pip install requests
pip install PyPDF2
pip install gunicorn
 
pip freeze > requirements.txt # To update your requirements.txt file
